<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Cat Cafe</title>
</head>
<body>
    <header>
        <p class="company"><a href="/">Cat Cafe</a></p>
        <nav>
            <a href="cats">Cats</a>
            <a href="cafe_products">Cafe Products</a>
            <a href="employees">Employees</a>
            <a href="customers">Customers</a>
            <a href="foster_parents">Foster Parents</a>
            <a href="adoptions">Adoptions</a>
            <a href="cafe_transactions">Cafe Transactions</a>
            <a href="product_orders">Product Orders</a>
            <a href="foster_cat_relationships">Foster/Cat Relationships</a>
        </nav>
    </header>
    <main>
        <div class="content-stripe hero-stripe">
            <h1>Manage Cafe Transactions</h1>
        </div>
        <div class="content-stripe table-stripe">
            <table>
            <thead>
                <tr>
                  <!-- Iterate through each key in the first entry to get the
                    column name -->
                    {% for key in cafe_transactions[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>

                    <!-- End of this for loop -->
                    {% endfor %}
                </tr>
                <tbody>
        
                <!-- Now, iterate through every cafe transaction in cafe transactions -->
                {% for cafe_transaction in cafe_transactions %}
                <tr>
                    <!-- Then iterate through every key in the current person dictionary -->
                    {% for key in cafe_transaction.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{cafe_transaction[key]}}</td>
                    {% endfor %}

                    <!-- Create our edit/delete buttons -->
                    <td><a href="edit_cafe_transaction/{{cafe_transaction.transaction_id}}" class ="btn btn-default">Edit</a></td>
                    <td><a href="delete_cafe_transaction/{{cafe_transaction.transaction_id}}" class ="btn">Delete</a></td>
                </tr>
                {% endfor %}
                </table>
        
        </div>
        <div class="content-stripe add-stripe">
            <h2>Add Cafe Transaction</h2>
            <div class="form-region">
                <form id = "insertCafeTransaction" action = "/cafe_transactions" method = "post">
                    <div class="group-one">
                    <label for="customer-id">Customer ID:</label><br>
                    <input type="text" class = "form-control" id="customer-id" name="customer-id"
                    placeholder = "" required><br>

                    <label for="employee-id">Employee ID:</label><br>
                    <input type="int" id="employee-id" name="employee-id">

                    <label for="date">Order Date:</label><br>
                    <input type="date" id="date" name="date">

                    <label for="total-price">Total Price:</label><br>
                    <input type="text" id="total-price" name="total-price">
                    </div>
                    <div class="group-two">
                        <input class="btn btn-primary" type="submit" value="Submit" name="Add_Cafe_Transaction">
                        <input class="btn" type="button" value="Cancel">
                    </div>
                </form>
            </div>
        </div>
        </main>
        <footer>
            <p>&#169; 2023 Olivia Russell & Jaclyn Rutter</p>
        </footer>
        
</body>
</html>