<!-- Adapted from https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master/templates -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Cat Cafe</title>
</head>
<body>
    <header>
        <p class="company"><a href="/">Cat Cafe</a></p>
        <nav>
            <a href="cats">Cats</a>
            <a href="cafe_products">Cafe Products</a>
            <a href="employees">Employees</a>
            <a href="customers">Customers</a>
            <a href="foster_parents">Foster Parents</a>
            <a href="adoptions">Adoptions</a>
            <a href="cafe_transactions">Cafe Transactions</a>
            <a href="product_orders">Product Orders</a>
            <a href="foster_cat_relationships">Foster/Cat Relationships</a>
        </nav>
    </header>
    <main>
        <div class="content-stripe hero-stripe">
            <h1>Manage Customers</h1>
        </div>
        <div class="content-stripe table-stripe">
            <table>
            <thead>
                <tr>
                  <!-- Iterate through each key in the first entry to get the
                    column name -->
                    {% for key in customers[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>

                    <!-- End of this for loop -->
                    {% endfor %}
                </tr>
                <tbody>
        
                <!-- Now, iterate through every customer in customers -->
                {% for customer in customers %}
                <tr>
                    <!-- Then iterate through every key in the current person dictionary -->
                    {% for key in customer.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{customer[key]}}</td>
                    {% endfor %}

                    <!-- Create our edit/delete buttons -->
                    <td><a href="edit_customer/{{customer.customer_id}}" class ="edit-del">Edit</a></td>
                    <td><a href="delete_customer/{{customer.customer_id}}" class ="edit-del">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="content-stripe add-stripe">
            <h2>Add Customer</h2>
            <div class="form-region">
                <form id = "insertCustomer" action = "/customers" method = "post">
                    <div class="group-one">
                    <label for="fname">First Name:</label><br>
                    <input type="text" id="fname" name="fname"><br>

                    <label for="lname">Last Name:</label><br>
                    <input type="text" id="lname" name="lname">

                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                    <label for="phone">Phone:</label><br>
                    <input type="tel" id="phone" name="phone" pattern="[0-9]{10}">
                    </div>
                    <div class="group-three">
                        <input class="btn btn-primary" type="submit" value="Submit" name="Add_Customer">
                        </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <p>&#169; 2023 Olivia Russell & Jaclyn Rutter</p>
    </footer>
</body>
</html>