<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Cat Cafe</title>
</head>
<body>
    <header>
        <p class="company"><a href="/">Cat Cafe</a></p>
        <nav>
             <a href="/cats">Cats</a>
            <a href="/cafe_products">Cafe Products</a>
            <a href="/employees">Employees</a>
            <a href="/customers">Customers</a>
            <a href="/foster_parents">Foster Parents</a>
            <a href="/adoptions">Adoptions</a>
            <a href="/cafe_transactions">Cafe Transactions</a>
            <a href="/product_orders">Product Orders</a>
            <a href="/foster_cat_relationships">Foster/Cat Relationships</a>
        </nav>
    </header>
    <main>
        <div class="content-stripe hero-stripe">
            <h1>Edit Adoption</h1>
        </div>
        <div class="content-stripe table-stripe">
            <table>
            <thead>
                <tr>
                  <!-- Iterate through each key in the first entry to get the
                    column name -->
                    {% for key in all[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>

                    <!-- End of this for loop -->
                    {% endfor %}
                </tr>
                <tbody>
        
                <!-- Now, iterate through every adoption in adoptions -->
                {% for adoption in all %}
                <tr>
                    <!-- Then iterate through every key in the current person dictionary -->
                    {% for key in adoption.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{adoption[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            </div>
        <div class="content-stripe add-stripe">
            <div class="form-region">
                <form id = "editAdoption" action = "/edit_adoption/{{adoptions[0].adoption_id}}" method = "post">
                    <div class="group-one">

                    <label for="customer">Customer:</label>
                    <select class="form-control" id="customer_id" name="customer_id" pattern="[0-4]{1}" placeholder="" required> 
                     <option value="0">&nbsp;</option>
                        {% for customer in customers %}
                                <!-- If the value iterated homeworld matches the value of the homeworld of person currently Editing, pre-select that option -->
                                {% if customer['customer_id'] == adoptions[0].customer %}
                                    <option value="{{ customer['customer_id'] }}" selected> {{customer['first_name']}} {{customer['last_name']}}</option>
                                {% else %}
                                    <option value="{{ customer['customer_id'] }}"> {{customer['first_name']}} {{customer['last_name']}}</option> 
                                {% endif %}
                        {% endfor %}
                        </select>

                    <label for="cat">Cat:</label>
                    <select class="form-control" id="cat_id" name="cat_id" pattern="[0-4]{1}" placeholder="" required> 
                     <option value="0">&nbsp;</option>
                        {% for cat in cats %}
                                <!-- If the value iterated homeworld matches the value of the homeworld of person currently Editing, pre-select that option -->
                                {% if cat['cat_id'] == adoptions[0].cat %}
                                    <option value="{{ cat['cat_id'] }}" selected> {{cat['name']}}</option>
                                {% else %}
                                    <option value="{{ cat['cat_id'] }}"> {{cat['name']}} </option> 
                                {% endif %}
                        {% endfor %}
                        </select>

                    <label for="Parent">Foster Parent:</label>
                    <select class="form-control" id="foster_parent_id" name="foster_parent_id" pattern="[0-4]{1}" placeholder="" required> 
                     <option value="0">&nbsp;</option>
                        {% for parent in parents %}
                                <!-- If the value iterated homeworld matches the value of the homeworld of person currently Editing, pre-select that option -->
                                {% if parent['foster_parent_id'] == adoptions[0].parent %}
                                    <option value="{{ parent['foster_parent_id'] }}" selected> {{parent['first_name']}} {{parent['last_name']}}</option>
                                {% else %}
                                    <option value="{{ parent['foster_parent_id'] }}"> {{parent['first_name']}} {{parent['last_name']}} </option> 
                                {% endif %}
                        {% endfor %}
                        </select>

                    <label for="Employee">Employee:</label>
                    <select class="form-control" id="employee_id" name="employee_id" pattern="[0-4]{1}" placeholder="" required> 
                     <option value="0">&nbsp;</option>
                        {% for employee in employees %}
                                <!-- If the value iterated homeworld matches the value of the homeworld of person currently Editing, pre-select that option -->
                                {% if employee['employee_id'] == adoptions[0].employee %}
                                    <option value="{{ employee['employee_id'] }}" selected> {{employee['first_name']}} {{employee['last_name']}}</option>
                                {% else %}
                                    <option value="{{ employee['employee_id'] }}"> {{employee['first_name']}} {{employee['last_name']}} </option> 
                                {% endif %}
                        {% endfor %}
                        </select>

                    <label for="date">Date:</label><br>
                    <input type="date" id="date"  value = "{{adoptions[0].date}}" name="date">
                    </div>
                    <div class="group-three">
                        <input class="btn btn-primary" type="submit" value="Save" name="Edit_Adoption">
                        <a href="/adoptions" class ="btn btn-primary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>     
</body>
</html>