<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Cat Cafe</title>
</head>
<body>
    <header>
        <p class="company"><a href="/">Cat Cafe</a></p>
        <nav>
            <a href="/cats">Cats</a>
            <a href="/cafe_products">Cafe Products</a>
            <a href="/employees">Employees</a>
            <a href="/customers">Customers</a>
            <a href="/foster_parents">Foster Parents</a>
            <a href="/adoptions">Adoptions</a>
            <a href="/cafe_transactions">Cafe Transactions</a>
            <a href="/product_orders">Product Orders</a>
            <a href="/foster_cat_relationships">Foster/Cat Relationships</a>
        </nav>
    </header>
    <main>
        <div class="content-stripe hero-stripe">
            <h1>Edit Cat</h1>
        </div>
        <div class="content-stripe table-stripe">
            <table>
            <thead>
                <tr>
                  <!-- Iterate through each key in the first entry to get the
                    column name -->
                    {% for key in cats[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>

                    <!-- End of this for loop -->
                    {% endfor %}
                </tr>
                <tbody>
        
                <!-- Now, iterate through every cat in cats -->
                {% for cat in cats %}
                <tr>
                    <!-- Then iterate through every key in the current person dictionary -->
                    {% for key in cat.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{cat[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            </div>
        <div class="content-stripe add-stripe">
            <div class="form-region">
                <form id = "editCat" action = "/edit_cat/{{cats[0].cat_id}}" method = "post">
                    <div class="group-one">

                    <label for="name">Name:</label><br>
                    <input type="text" class = "form-control" id="name" name="name" pattern = "[A-Za-z]{1,}"
                    placeholder = "" value = "{{cats[0].name}}" required><br>

                    <label for="dob">DOB:</label><br>
                    <input type="date"  value = "{{cats[0].date_of_birth}}" id="dob" name="dob">

                    <label for="weight">Weight:</label><br>
                    <input type="int" id="weight"  value = "{{cats[0].weight}}"name="weight">

                    <label for="color">Color:</label>
                    <input type="text" id="color"  value = "{{cats[0].color}}" name="color">
                    </div>
                    <div class="group-two">

                    <label for="sex">Sex:</label>
                    <select class = "form-control" id = "sex"  value = "{{cats[0].sex}}" name="sex" placeholder = "">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>

                    <label for="adoptable">Adoptable:</label>
                    <select class = "form-control" id = "adoptable"  value = "{{cats[0].adoptable}}" name="adoptable" placeholder = "" required>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>

                    <label for="vet">Last Vet Check:</label>
                    <input type="date" id="vet"  value = "{{cats[0].last_vet_check}}" name="vet">
                    </div>
                    
                    <div class="group-three">
                        <input class="btn btn-primary" type="submit" value="Save" name="Edit_Cat">
                        <a href="/cats" class ="btn btn-primary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>     
</body>
</html>