<!-- Adapted from https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master/bsg_people_app/templates  -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Cat Cafe</title>
</head>
<body>
    <header>
        <p class="company"><a href="/">Cat Cafe</a></p>
        <nav>
             <a href="/cats">Cats</a>
            <a href="/cafe_products">Cafe Products</a>
            <a href="/employees">Employees</a>
            <a href="/customers">Customers</a>
            <a href="/foster_parents">Foster Parents</a>
            <a href="/adoptions">Adoptions</a>
            <a href="/cafe_transactions">Cafe Transactions</a>
            <a href="/product_orders">Product Orders</a>
            <a href="/foster_cat_relationships">Foster/Cat Relationships</a>
        </nav>
    </header>
    <main>
        <div class="content-stripe hero-stripe">
            <h1>Edit Product Order</h1>
        </div>
        <div class="content-stripe table-stripe">
            <table>
            <thead>
                <tr>
                  <!-- Iterate through each key in the first entry to get the
                    column name -->
                    {% for key in all[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>

                    <!-- End of this for loop -->
                    {% endfor %}
                </tr>
                <tbody>
        
                <!-- Now, iterate through every product order in product orders -->
                {% for product_order in all %}
                <tr>
                    <!-- Then iterate through every key in the current person dictionary -->
                    {% for key in product_order.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{product_order[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            </div>
        <div class="content-stripe add-stripe">
            <div class="form-region">
                <form id = "editProductOrder" action = "/edit_product_order/{{product_orders[0].product_order_id}}" method = "post">
                    <div class="group-one">

                    <label for="transaction-id">Transaction ID:</label><br>
                    <input type="int" class = "form-control" id="transaction-id" name="transaction-id"
                    placeholder = "" value = "{{product_orders[0].transaction_id}}" required><br>

                    <label for="product_id">Product:</label>
                    <select class="form-control" id="product_id" name="product_id"  placeholder="" required> 
                     <option value="0">&nbsp;</option>
                        {% for product in products %}
                                <!-- If the value iterated homeworld matches the value of the homeworld of person currently Editing, pre-select that option -->
                                {% if product['product_id'] == product_orders[0].product_id %}
                                    <option value="{{ product['product_id'] }}" selected> {{product['name']}} </option>
                                {% else %}
                                    <option value="{{ product['product_id'] }}"> {{product['name']}}</option> 
                                {% endif %}
                        {% endfor %}
                        </select>

                    <label for="quantity">Quantity:</label><br>
                    <input type="int" id="quantity"  value = "{{product_orders[0].quantity}}"name="quantity" pattern="^[0-9]*$">
                    </div>
                    
                    <div class="group-three">
                        <input class="btn btn-primary" type="submit" value="Save" name="Edit_Product_Order">
                        <a href="/product_orders" class ="btn btn-primary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>     
</body>
</html>