<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Cat Cafe</title>
</head>
<body>
    <header>
        <p class="company"><a href="/">Cat Cafe</a></p>
        <nav>
            <a href="cats">Cats</a>
            <a href="cafe_products">Cafe Products</a>
            <a href="employees">Employees</a>
            <a href="customers">Customers</a>
            <a href="foster_parents">Foster Parents</a>
            <a href="adoptions">Adoptions</a>
            <a href="cafe_transactions">Cafe Transactions</a>
            <a href="product_orders">Product Orders</a>
            <a href="foster_cat_relationships">Foster/Cat Relationships</a>
        </nav>
    </header>
    <main>
        <div class="content-stripe hero-stripe">
            <h1>Manage Foster Parents</h1>
        </div>
        <div class="content-stripe table-stripe">
        <table>
        <thead>
                <tr>
                  <!-- Iterate through each key in the first entry to get the
                    column name -->
                    {% for key in foster_parents[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>

                    <!-- End of this for loop -->
                    {% endfor %}
                </tr>
                <tbody>
       
                <!-- Now, iterate through every parent in foster_parents -->
                {% for foster_parent in foster_parents %}
                <tr>
                    <!-- Then iterate through every key in the current foster_parent dictionary -->
                    {% for key in foster_parent.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{foster_parent[key]}}</td>
                    {% endfor %}

                    <!-- Create our edit/delete buttons -->
                    <td><a href="delete_foster_parent/{{foster_parent.foster_parent_id}}" class ="edit-del">Delete</a></td>
                </tr>
                {% endfor %}
        </table>
        </div>
        <div class="content-stripe add-stripe">
            <h2>Add Parent</h2>
            <div class="form-region">
                <form id = "insertParent" action = "/foster_parents" method = "post">
                    <div class="group-one">
                    <label for="fname">First Name:</label><br>
                    <input type="text" class = "form-control" id="fname" name="fname" pattern = "[A-Za-z]{1,}"
                    placeholder = "" required><br>

                    <label for="lname">Last Name:</label><br>
                    <input type="text" class = "form-control" id="lname" name="lname" pattern = "[A-Za-z]{1,}"
                    placeholder = "" required><br

                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email">

                    <label for "phone">Phone Number:</label><br>
                    <input type="text" class = "form-control" id="phone" name="phone" 
                    placeholder = "" required><br>
                    </div>

                    <div class="group-three">
                        <input class="btn btn-primary" type="submit" value="Submit" name="Add_Parent">
                    </div>

                </form>
            </div>
        <div class="content-stripe update-stripe">
            <h2>Edit Parent</h2>
            <!-- Iterate through each parent to populate dropdown --!>
            <form form id = "foster_parent_id" action = "/foster_parents" method = "post">
            <select> 
                {% for parent in foster_parents %}
                    <option value = "{{parent.foster_parent_id}}" > {{parent.first_name}} {{parent.last_name}}</option>
                {% endfor %}
            </select>
            <div class="group-three">
                    <input class="btn btn-primary" type="submit" value="Submit" name="Edit_Parent">
            </div>
            </form>
        </div>
        

    </main>
    <footer>
        <p>&#169; 2023 Olivia Russell & Jaclyn Rutter</p>
    </footer>
</body>
</html>