<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Cat Cafe</title>
</head>
<body>
    <header>
     <p class="company"><a href="/">Cat Cafe</a></p>
        <nav>
            <a href="cats">Cats</a>
            <a href="cafe_products">Cafe Products</a>
            <a href="employees">Employees</a>
            <a href="customers">Customers</a>
            <a href="foster_parents">Foster Parents</a>
            <a href="adoptions">Adoptions</a>
            <a href="cafe_transactions">Cafe Transactions</a>
            <a href="product_orders">Product Orders</a>
            <a href="foster_cat_relationships">Foster/Cat Relationships</a>
        </nav>
    </header>
    <main>
        <h1>Home Page</h1>

    </main>
    <footer>
        <p>&#169; 2023 Olivia Russell & Jaclyn Rutter</p>
    </footer>
</body>
</html>